<!DOCTYPE html>
<html lang="en">
  <head>
    {% if env == 'production' %}
      <link
        rel="preload"
        href="/fonts/work-sans-v18-latin-900.woff2"
        as="font"
        type="font/woff"
        crossorigin />
      <link
        rel="preload"
        href="/fonts/work-sans-v18-latin-900.woff"
        as="font"
        type="font/woff2"
        crossorigin />
    {% endif %}
    <meta charset="UTF-8">
    <title>
      {% if page.fileSlug == 'homepage' %}
        {{ site.title }} | {{ site.tagline }}
      {% elsif title %}
        {{ site.title }} | {{ title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta name="description" content="{{ site.meta_desc }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "og.liquid" %}
    {% include "site_icons.liquid" %}
    <style>
      *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }
      {# include "css/site.css" #}
    </style>
    {% if site.env == 'production' %}
      <link rel="preconnect" href="//res.cloudinary.com">
      <link rel="dns-prefetch" href="//res.cloudinary.com">
    {% endif %}
  </head>
  <body style="height:100vh;display: grid;grid-template-areas: 'nav'  'main'  'foot';grid-template-rows: auto 1fr auto;gap:20px 0;">
    <nav role="navigation" aria-label="Main" style="grid-area:nav;display:grid;grid-template-columns: auto auto;gap:30px;justify-content:space-between;">
      <div>
        <a class="brand" href="/">
          With Brio
        </a>
      </div>
      <div style="display:grid;grid-template-columns:auto auto auto;gap:10px;">
        {% assign currentUrl =  page.url %}
        {% assign allPages = 'products,about,contact' | split: ',' %}
        {% for item in allPages %}
          {% assign leSlug = item | prepend: '/' | append: '/' %}
          <a {% if currentUrl == leSlug %}aria-current="page" {% endif %}href="{{ leSlug }}"
          class="menu-item menu-item--header{% if currentUrl == leSlug %} active{% endif %}">
            {{ item }}
          </a>
        {%- endfor %}
      </div>
    </nav>
    <main role="main" class="site-main" style="grid-area:main">
      {{ content }}
    </main>
    <footer role="contentinfo" class="site-footer" style="grid-area:foot">
      This site does not track you. Come and go as you please. Happy Trails!<br>
      Last updated: {{ buildtime.time.formatted }}
    </footer>
  </body>
</html>