---
layout: base.liquid
---

<section class="section product-description">
  {{ content | cloudinaryPrependDir }}
</section>

<section class="section section--highlighted">
  <h2 class="section__heading">
    <svg>
      <use xlink:href='#store' />
    </svg>
    Find at
  </h2>
  <div class="retailers--online">
    {% for retailer in retailersForProduct %}
      <h3>
        {{ retailer.name }}
      </h3>
      <ul>
        {%- unless retailer.storeLocations contains 'Online Only' %}
          {% for location in retailer.storeLocations %}
            <li>
              <a href="/where-to-buy/#{{ location }}">
                {{ location }}
              </a>
            </li>
          {% endfor %}
        {% endunless %}
        {% unless retailer.productUrl == 'Not Offered Online' %}
          <li>
            <a href="{{ retailer.productUrl }}">Online</a>
          </li>
        {% endunless %}
      </ul>
    {% endfor %}
  </div>
</section>

<footer class="product--footer">
  <dl>
    <dt>You might also like:</dt>
    {% assign remainingProducts = collections.products | excludeByMatchingDataValue: "sku", sku | sort: "data.title" %}
    {% for product in remainingProducts %}
      <dd>
        <a href="{{ product.url }}">
          {{ product.data.title }}
        </a>
      </dd>
    {% endfor %}
  </dl>
</footer>
