---
layout: base.liquid
---

<section class="section product-description">
  {{ content | cloudinaryPrependDir }}
  {% unless sku == 'pt-ski' %}
    <p>
      A portion of this product's profits go <a href="/about/">directly to trail organizations we support</a>.
    </p>
    <p>
      We have a fantastic network retailers throughout the Northeast and beyond, and we'd love to connect you with them. If you're a retailer and you'd like to carry one of our products, please don't hesitate <a href="/contact/">to reach out</a>.
    </p>
  {% endunless %}
</section>

<section class="section section--highlighted">
  <h2 class="section__heading">
    <svg>
      <use xlink:href='#store' />
    </svg>
    Find at
  </h2>
  <div class="retailers--online">
    {% assign retailersPerProduct = retailersForProduct | group_by: "name" | sort: "name" %}
    {% for retailer in retailersPerProduct %}
      <h3>
        {{ retailer.name }}
      </h3>
      <ul>
        {% for item in retailer.items %}
          {%- unless item.storeLocations contains 'Online Only' %}
            {% for location in item.storeLocations %}
            <li>
              <a href="/where-to-buy/#{{ location | slugify }}">
                {{ location }}
              </a>
            </li>
            {% endfor %}
          {% endunless %}
          {% unless item.productUrl == 'Not Offered Online' %}
            <li>
              <a href="{{ item.productUrl }}">Online</a>
            </li>
          {% endunless %}
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</section>

<footer class="product--footer">
  <dl>
    <dt>You might also like:</dt>
    {% assign remainingProducts = collections.products | excludeByMatchingDataValue: "sku", sku | sort: "data.title" %}
    {% for product in remainingProducts %}
      <dd>
        <a href="{{ product.url }}">
          {{ product.data.title }}
        </a>
      </dd>
    {% endfor %}
  </dl>
</footer>
