---
permalink: "/"
title: "Whimsical Mountain Mementos"
---

<section class="section section--cards">
  {% assign customSortOrder = "wm48 nh52 pt48 pt-adk pt-ski pt14 fing isles" | split: " " %}
  {% assign allProducts = collections.products %}
  {% for sku in customSortOrder %}
    {% assign currentProduct = allProducts | where: "data.sku", sku %}
      <figure class="card">
        <a href="{{ currentProduct[0].page.url }}">
          <img src="{{ prefix.cover }}{{ currentProduct[0].data.cover }}" width="400" height="267" alt="{{ currentProduct[0].data.title }} thumbnail" loading="lazy">
          <figcaption>
            <h2>
              {{ currentProduct[0].data.title }}
            </h2>
            <p>
              {{ currentProduct[0].data.seo_desc }}
            </p>
          </figcaption>
        </a>
      </figure>
  {% endfor %}
</section>
