---
permalink: "/"
title: "Obsessing about the Outdoors"
---

<section class="section section--feature">
  <div>
    {% assign customSortOrder = "wm48 nh52 pt48 fing pt-adk pt-ski pt14 isles" | split: " " %}
    {% assign allProducts = collections.products %}
    {% for sku in customSortOrder %}
      {% assign currentProduct = allProducts | where: "data.sku", sku %}
      <div class="card">
          <img src="{{ site.cloudinary_url }}c_fill,g_center,w_600,h_400/{{ currentProduct[0].data.cover }}.png">
          <div>
            <h2>
              <a href="/products/{{ currentProduct[0].data.title | slugify }}/">
                {{ currentProduct[0].data.title }}
              </a>
            </h2>
            {% comment %} {{ product.data.meta_desc | markdownify }} {% endcomment %}
          </div>
        </div>
    {% endfor %}
  </div>
</section>
